body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgba(18, 18, 18, 0.805);
    width: 300px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#display {
    background-color: rgb(88, 85, 85);
    width: 250px;
    padding: 5px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    color: aliceblue;
}

.button-container {
    margin: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

button {
    width: 55px;
}




/* * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f2f2f2;
}

.container{
    width:350px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    text-align:center;
}

h2{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    font-size:17px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}
 
#result{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
    color:green;
}   */